@model Modelos.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Nombre)
        </dd>

    </dl>
</div>
<p>
    @if (!Model.Id.Equals(ViewBag.Current))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
    }
    | @Html.ActionLink("Volver a la lista de usuarios", "Index")
</p>
