@model Modelos.Pais

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar País</h2>

<h3>Está seguro que quiere eliminar el país?</h3>
<div>
    <h4>@Model.NombrePais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de paises", "Index")
        </div>
    }
</div>
