@model Modelos.Ciudad

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la Ciudad</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Pais.NombrePais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista de ciudades", "Index")
</p>
